$section-padding: 20px;

:host {
  display: block;
  height: 100%;
  width: 100%;

  padding: var(--padding-base) calc(var(--padding-base) * 6);
  overflow: auto;
}

.contacts-background-image {
  height: 100%;
  width: 100vw;
  background: linear-gradient(135deg, var(--theme-background) 0%, #0F2233 60%, rgba(26,186,186,0.15) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--z-index-background);
}

.contacts-page-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-base) * 4);
  height: 100%;
}

.home-page-subheading {
  display: inline-block;
  font-size: var(--text-size-large);
  color: white;
}

.contacts-header {
  font-size: var(--text-heading-size);
  background: linear-gradient(90deg, var(--theme-color-primary-400), #117aef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for better cross-browser support */
  background-clip: text;
  color: transparent;
}

.contacts-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: $section-padding * 3 $section-padding;
  border-radius: var(--border-radius-base);
  text-align: left;
  letter-spacing: normal;

  background-color: var(--theme-color-secondary-100);
  color: var(--text-color-secondary);
}

.section-header {
  font-size: var(--text-subheading-size);
  background: linear-gradient(90deg, var(--theme-color-primary-400), #0f2233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for better cross-browser support */
  background-clip: text;
  color: transparent;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: var(--text-size-large);
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;

  &--icon {
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, var(--theme-color-primary-400), #0f2233);
    border-radius: var(--border-radius-base-half);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &--detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
