:host {
  display: block;
}

.svg-icon {
  vertical-align: middle;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
