:host {
  display: inline-block;
}

.language-selector-container {
  display: flex;
  flex-direction: column;
}

.language-selector-button {
  ::ng-deep button {
    color: white;

    &:hover {
      color: var(--text-color-secondary);
    }
  }
}
