<syd-button #origin variant="ghost" size="icon">
  <syd-icon color="rawIcon" [name]="currentLanguage()!.flag" [size]="24"></syd-icon>
  {{ isMobile() ? '' : currentLanguage()!.label }}
</syd-button>

<syd-popup [origin]="origin.element">
  <div class="language-selector-container">
    @for (lang of languages(); track lang.code) {
      @if (!lang.active) {
        <syd-button (click)="switchLanguage(lang.code)" variant="ghost" size="icon">
          <syd-icon color="rawIcon" [name]="lang.flag" [size]="24"></syd-icon>
          {{ isMobile() ? '' : lang.label }}
        </syd-button>
      }
    }
  </div>
</syd-popup>
