:host {
  display: inline-block;
}

.language-selector-container {
  display: flex;
  flex-direction: column;
}

.current-language-text {
  color: white;

  &:hover {
    color: var(--text-color-secondary);
  }
}
