<syd-button #origin class="language-selector-button" variant="ghost" size="icon">
  <syd-icon color="rawIcon" [name]="currentLanguage()!.flag" [size]="24"></syd-icon>
  <span>{{ isMobile() ? '' : currentLanguage()!.label }}</span>
</syd-button>

<syd-popup [origin]="origin.element">
  <div class="language-selector-container">
    @for (lang of languages(); track lang.code) {
      @if (!lang.active) {
        <syd-menu-item (click)="switchLanguage(lang.code)">
          <span class="menu-item-content">
            <syd-icon color="rawIcon" [name]="lang.flag" [size]="24"></syd-icon>
            {{ isMobile() ? '' : lang.label }}
          </span>
        </syd-menu-item>
      }
    }
  </div>
</syd-popup>

<!--TODO poradne nastylovat, udelat komponentu menu-item (roztahnuty button) a tu pouzit v popupu-->
