:host {
  display: block;
  height: 100%;
  width: 100%;

  padding: var(--padding-base) calc(var(--padding-base) * 6);
  overflow: auto;
}

.our-services-background-image {
  height: 100%;
  width: 100vw;
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.3) 0%, #0F2233 50%, rgba(0, 255, 255, 0.3) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--z-index-background);
}

.our-services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 20px;
}
