:host {
  display: block;
  height: 100%;
  width: 100%;

  padding: var(--padding-base) calc(var(--padding-base) * 6);
  overflow: auto;
}

.home-background-image {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, var(--theme-background) 0%, #0F2233 60%, rgba(26,186,186,0.15) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--z-index-background);
}

.home-page-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-base) * 4);
  height: 100%;
}

.home-page-subheading {
  display: inline-block;
  font-size: var(--text-size-large);
  color: white;
}

.home-page-info-text {
  display: inline-block;
  color: white;
}

.home-header {
  font-size: var(--text-heading-size);
  background: linear-gradient(90deg, var(--theme-color-primary-400), #117aef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for better cross-browser support */
  background-clip: text;
  color: transparent;
}
