$section-padding: 20px;

:host {
  display: block;
  height: 100%;
  width: 100%;

  padding: var(--padding-base) calc(var(--padding-base) * 6);
  overflow: auto;
}

.about-background-image {
  height: 100%;
  width: 100vw;
  background: linear-gradient(-45deg, var(--theme-background) 0%, #0F2233 60%, rgba(26,186,186,0.15) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--z-index-background);
}

.about-page-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-base) * 4);
  height: 100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: $section-padding * 3 $section-padding;
  border-radius: var(--border-radius-base);
  text-align: center;
  letter-spacing: normal;

  background-color: var(--theme-color-secondary-100);
  color: var(--text-color-secondary);
}

.section-header {
  font-size: var(--text-heading-size);
  background: linear-gradient(90deg, var(--theme-color-primary-400), #0f2233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for better cross-browser support */
  background-clip: text;
  color: transparent;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: var(--text-size-large);

  &--text-left {
    text-align: left;
  }
}
